.btn_grp .bt1_hov {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px
    opacity: 0;
    transition: opacity 0.3s;
}

.btn_grp .bt1_hov::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.btn_grp:hover .bt1_hov {
    visibility: visible;
    opacity: 1;
}


.fa {
    font-size: 35px;
    margin-right: 5px;
}


.bt-all {
    font-size: 10px;
    height: 30px;
    width: 50px;
    margin-right: 5px;
    background-image: url("https://www.flaticon.com/free-icons/curve")

}

.rw-1 div {
    padding-top: 3px;
    padding-left: 5px;
}


#tool-image {
    height: 200px;
}

#row-1 {
    height: 100px;

}

#col-1 {
    border: 2px solid black;
}

/*
#nav_col {
    border: 4px ridge;
    height: 800px;
}


.app1-sidebar {
    width: 120px;
    border-bottom: thin Blue solid;
}


#app1-tabs {
    background-color: Grey;

}

#nav-1 {
    width: 200px;
    min-height: 750px;
    height: 600px;
    background-color: white;
    border: 4px ridge;
}

#nav-1 #drop1 {
    width: 180px;
}

.nav_item1 {
    padding-left: 5px;
}
*/
